.flexcontaner{
    padding: 0px;
    margin: 0px;
    display: flex;
    background-color: aqua;
    height: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
    align-items: stretch;
}
.flexbox{
    background-color:gray;
    padding: 5px;
    width: 200px;
    height: 150px;
    color: red;
    font-weight: bolder;
    margin-top: 75px;
    line-height: 150px;
    font-size: 45px;
    text-align: center;
    border: 3px solid black;
}