body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: tahoma;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: wheat;
}
.ul{
    list-style-type: none;
    display: flex;  
    width: 90%;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}
.ul>li{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ul>li:hover{
    background-color: rgb(158, 142, 114);
    transition: all ease 0.5s;
    .content1{
        transition: all ease 0.5s;
        opacity: 1;
        visibility: visible;
        
    }   
}
.ul-2>li:hover{
        transition: all ease 0.5s;
        background-color:  rgb(97, 87, 69);
        .content2{
            transition: all ease 0.5s;
            opacity: 1;
            visibility: visible;
            
        }  

}
.ul-3>li:hover{
    transition: all ease 0.5s;
    background-color:  rgb(68, 61, 48);
}
.content1{
    position: absolute;
    width: 100%;
    top: 100%;
   opacity: 0;;
   visibility: hidden;
}
.ul-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 0;
    background-color: rgb(158, 142, 114);
   
}
.ul-2>li{
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ul-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 0;
    background-color: rgb(97, 87, 69);
    
}
.ul-3>li{
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content2{
    position: absolute;
    width: 100%;
    left: 100%;
    top: 0%;
   opacity: 0;;
   visibility: hidden;
}
.ul-3>li>a{
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}