body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 20vw;
    height: 20vw;
    border: 1px black solid;
    background-color: yellowgreen;
    border-radius: 10px;
    position: relative;
}
.box:hover{
    transform:  scale(1.5 , 1.5);
    transition: all ease 3s;
    .span1{
        width: 70%;
    }
    .span2{
        height: 70%;
    }
    .span3{
        width: 70%;
    }
    .span4{
        height: 70%;
    }
    .minibox{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50%;
    }
}
.span1{
    position: absolute;
    background-color: black;
    border-radius:5px ;
    width: 0;
    height: 5%;
    top: 10%;
    left: 15%;
    transition: all ease 3s;
}
.span2{
    position: absolute;
    background-color: black;
    border-radius:5px ;
    width: 5%;
    height: 0;
    bottom: 15%;
    left: 10%;
    transition: all ease 3s;
}
.span3{
    position: absolute;
    background-color: black;
    border-radius:5px ;
    width: 0;
    height: 5%;
    bottom: 10%;
    right: 15%;
    transition: all ease 3s;
}
.span4{
    position: absolute;
    background-color: black;
    border-radius:5px ;
    width: 5%;
    height: 0;
    top: 15%;
    right: 10%;
    transition: all ease 3s;
}
.minibox{
    transition: all ease 3s;
    position: absolute;
    width: 0;
    height: 0;
    display: none;
    left: 25%;
    top: 25%;
    font-size: xx-large;
    font-family: tahoma;
}
