body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background-color: black;
    
    font-size: xx-large;
    font-family: tahoma;
    position: relative;
   
}
.button::after{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 0%;
    height: 0%;
    background-color: red;
    border-radius: 10px;
    transition: .5s;
    z-index: 5;

}
.button:hover::after{
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
} 
.buttonn{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
z-index: 10;
color: blue;
position: absolute;
top: 0;
left: 0;
}