.getUsers {
  cursor: pointer;
  width: 40%;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(36, 84, 216);
  border: 1px solid transparent;
  color: white;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.output {
  display: flex;
  justify-content: center;
  align-items: center;
}
.output ul {
  list-style-type: none;
}
.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  height: 30%;
}
